body {
    font-family: 'Raleway';
    font-size: 14px;
}

span {

}

/* Header */
header {

    width: 1200px;
    height: auto;
}

.nav-barre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.nav-barre ul {
    display: flex;
    list-style: none;
    justify-content: right;
}

.nav-barre li {
    margin: 30px;
}

.filtres {
    display: flex;
}
.filtres ul {
    display: flex;
    list-style: none;
    justify-content: left;
}
.filtres ul li {
    border-radius: 20%;
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 2px solid grey;

}

.btn_1 {
    background-color: blue;
    border: 2px solid blue;
    border-radius: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* MAIN */


/* Container_1 ( container left + div top +
 div bottom + les populaires */
.container_1 {
    background-color: red;
    width: 1200px;
    display: flex;
    justify-content: space-between;

}
/* Section container left*/
.container_left div {

    background-color: mediumpurple;
}

.hebergement_top {
   display: flex;
    justify-content: space-around;
}

.hebergement_bottom{
    display: flex;
}

.carte_hebergement img{
    align-items: flex-start;
    width: 200px;
    height: 100px;
    border-top-right-radius: 15%;
    border-top-left-radius: 15%;
}
 .carte_hebergement{
     background-color: white;
     width: 250px;
     height: 210px;
     border: 4px solid white;
     border-radius: 10%;
 }

 .carte_hebergement p, h3{
     margin-left: 10px;
     text-align: left;
 }

/* Section populaire */
.carte_2 {
    background-color: white;
    width: 250px;
    height: 210px;
    border: 4px solid white;
    border-radius: 10%;
}
 .carte_2 img{
     align-items: flex-start;
     width: 200px;
     height: 100px;
     border-top-right-radius: 15%;
     border-top-left-radius: 15%;
 }



/* Container 2*/
.container_2 {

    background-color: purple;
    width: 1200px;
}
.activité_left {
    display: flex;
}
.activité_left .double_block{
    display: flex;
    flex-direction: column;
}
.activité_left img {
    width: 200px;
    height: 400px;
}

.double_block img {
    width: 200px;
    height: 150px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    text-align: left;
}

footer a {
    color: grey;
}
footer a:hover {

}